<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello friends</title>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <form onSubmit="return redirect();">
        <input id="name" type="text" maxlength="55" class="box" autofocus />
        <select id="region">
            {% for region in regions %}
                <option value="{{ region }}">{{ region }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="submit" value="SUBMIT" />
    </form>
</body>
</html>
